
section, article {
  display: block;

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

  margin: 0;

  padding: 0;

  vertical-align: baseline;

  border: 0;

  outline: 0;
}


/*===== whywe ===*/

article[role="whywe"].whywe-pan{ padding-top:5%}

article[role="whywe"].whywe-pan p{ letter-spacing:1px; line-height:18px; font-weight:300}

article[role="whywe"].whywe-pan ul{ margin:0; padding:0; text-align:center; padding-top:20px;}

article[role="whywe"].whywe-pan ul > li{ display: inline-block; margin: 10px 10px; background: rgba(255,255,255,0.7); padding: 10px; width: 200px; height: 150px;}

article[role="whywe"].whywe-pan ul > li,article[role="whywe"].whywe-pan ul > li > i,article[role="whywe"].whywe-pan ul > li > h6,article[role="subscribe"].subscribe-pan form label,article[role="subscribe"].subscribe-pan form label i{transition-delay: 0s;transition-duration: 0.6s;transition-property: all;transition-timing-function: ease;}

article[role="whywe"].whywe-pan ul > li > i{ font-size:26px; padding-bottom:18px;color:#d1c315;}

article[role="whywe"].whywe-pan ul > li > h6{ font-weight:700; font-size:12px; line-height:13px; text-transform:uppercase; letter-spacing:2px}

article[role="whywe"].whywe-pan ul > li > p{ font-size:12px; line-height:18px; letter-spacing:inherit; padding-top:5px}

article[role="whywe"].whywe-pan ul > li:hover i{ color:#efe51d}



