<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>772347263433-ldg643hn9u9v1ts88tt7omdnbidqqh31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772347263433-ldg643hn9u9v1ts88tt7omdnbidqqh31</string>
	<key>API_KEY</key>
	<string>AIzaSyBYnIMZ8FdROaQdqRJy-TAJJczhWkuc9M0</string>
	<key>GCM_SENDER_ID</key>
	<string>772347263433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eneleven</string>
	<key>PROJECT_ID</key>
	<string>eleven-6f723</string>
	<key>STORAGE_BUCKET</key>
	<string>eleven-6f723.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:772347263433:ios:7d932daf04fdeb30</string>
	<key>DATABASE_URL</key>
	<string>https://eleven-6f723.firebaseio.com</string>
</dict>
</plist>